<h1> Tracks </h1>

<p> Your Favorite Tracks </p>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th> Name </th>
            <th> URL </th>
            <th> Available</th>
            <th> Credits </th>
            <th> Actions </th>
        </tr>
    </thead>
<tbody>
 <% @tracks.each do |tracks| %>
    <tr>
        <td> <%= tracks.name %> </td>
        <td> <%= tracks.url.truncate(50) %> </td>
        <td> <%= tracks.available %> </td>
        <td> <%= tracks.credits %> </td>
        <td> 
        <%= link_to edit_track_path(tracks.id) do %>
            <button type="button" class="btn btn-light"> Edit </button>
        <% end %> 

        <%= link_to track_path(tracks.id), method: :delete, data: {confirm: "Are you sure about that?"} do %>
            <button type="button" class="btn btn-light"> Delete </button>
        <% end %>

        </td>
    </tr>
 <% end %>
</tbody>
</table>


<%= link_to new_track_path do %>
    <button type="button" class="btn btn-light"> New Track </button>
<% end %>
