<%= form_with model: @artist, html: {class: "mb-3"} do |f| %>
    
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control form-control-sm' %>

    <br/>

    <%= f.label :bio %>
    <%= f.text_area :bio,  class: 'form-control form-control-sm' %>


    <br/>

    <%= f.label :permalink %>
    <%= f.text_field :permalink,  class: 'form-control form-control-sm' %>

    <br/>

    <%= f.label :avatar_url %>
    <%= f.text_field :avatr_url,  class: 'form-control col-xs-2' %>

    <br/>

    <%= f.label :formed_at %>
    <%= f.date_field :formed_at, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control form-control-sm' %> 
    
    <br/>

    <%= f.label :verified %>
    <%= f.check_box :verified %>

    <br/>

    <%= f.label :verified_at %>
    <%= f.date_field :verified_at, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %> 
    
    <br/>

    <%= f.label :cover_photo_url %>
    <%= f.text_field :cover_photo_url,  class: 'form-control form-control-sm ' %>

    <br/>

    <%= f.submit :class => "btn btn-light" %>

    <%= link_to artists_path do %>
        <button type="button" class="btn btn-light"> Back </button>
    <% end %>


<% end %>
     