<h1> Artists </h1>

<p> Artists Page </p>

<table>
    <thead>
        <tr>
            <th> Name </th>
            <th> Formed  </th>
            <th> Verified </th>
            <th> Verified At </th>
            <th> Permalink </th>
            <th> Bio </th>
            <th> Avatar Url </th>
            <th> Cover Photo Url </th>
            <th> Actions </th>
        </tr>
    </thead>
<tbody>
 <% @artists.each do |artists| %>
    <tr>
        <td> <%= artists.name %> </td>
        <td> <%= artists.formed_at %> </td>
        <td> <%= artists.verified %> </td>
        <td> <%= artists.verified_at %> </td>
        <td> <%= artists.permalink %> </td>
        <td> <%= artists.bio.truncate(100) %> </td>
        <td> <%= artists.avatr_url %> </td>
        <td> <%= artists.cover_photo_url %> </td>
        <td> 
        <%= link_to edit_artist_path(artists.id) do %>
            Edit 
        <% end %> 

        <%= link_to artist_path(artists.id), method: :delete, data: {confirm: "Are you sure about that?"} do %>
            Delete
        <% end %>

        </td>
    </tr>
 <% end %>
#  <% link_to new_artist_path do %>
#     New Artist
# <% end %>
</tbody>
</table>

<h1>
<%= link_to new_artist_path do %>
    New Artist
<% end %>
</h1>