<%= form_with model: @album, html: {class: "mb-3"} do |f| %>
    <% if @album.errors.any?%>
        <p>Following-errors-occured</>
        <ul>
            <% @album.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
    <br/>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>


    <br/>

    <%= f.label :released %>
    <%= f.check_box :released %>


    <br/>

    <%= f.label :released_at %>
    <%= f.date_field :released_at, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %> 
    
    <br/>

    <br/>
    
    <%= f.label :length %>
    <%= f.text_field :length, class: 'form-control' %>
   
    
    <br/>

    <%= f.label :cover_art_url %>
    <%= f.text_field :cover_art_url, class: 'form-control' %>

    <br/>

    <%= f.label :kind %>
    <%= f.select :kind, options_for_select(['EP', 'LP', 'Single']), {:required => "true"}, class: 'form-control' %>
    
    <br/>

    <%= f.submit :class => "btn btn-light" %>

    <%= link_to albums_path do %>
        <button type="button" class="btn btn-light"> Back </button>
    <% end %>


<% end %>
     